attrs==21.2.0
coverage==5.5
importlib-metadata==4.0.1
iniconfig==1.1.1
numpy==1.20.2
packaging==20.9
pluggy==0.13.1
py==1.10.0
pyarrow==4.0.0
pyparsing==2.4.7
pytest-cov==2.11.1
pytest-html==3.1.1
pytest-metadata==1.11.0
pytest-mock==3.6.1
pytest==6.2.4
toml==0.10.2
typing-extensions==3.10.0.0
zipp==3.4.1
